@(filmForm: Form[Film])

@import helper._

@main(Messages("film.create.title")){

    <h1>@Messages("film.create.title")</h1>

    @form(controllers.bo.routes.Backoffice.save()) {

        <fieldset>

            @inputText(filmForm("titre"), '_label -> "Titre")
            @inputText(filmForm("nombreExemplaire"), '_label -> "Nombre d'exemplaire")

            @select(
                filmForm("genre"), 
                options(Genre.options), 
                '_label -> "Genre", '_default -> "-- Choisissez un genre --",
                '_showConstraints -> false
            )

        </fieldset>

        <div class="actions">
            <input type="submit" value="Créer ce film"> or 
            <a href="@controllers.bo.routes.Backoffice.list()">Annuler</a> 
        </div>

    }

}