@(films: List[Film])

@main(Messages("film.list.title"))(breadcrum(
	collection.immutable.TreeMap(
		"Accueil backoffice" -> "/bo",
		Messages("film.list.title") -> "/bo/films")
	)) {

	<div class="col-md-12">
	
	    <h1>@Messages("film.list.title")<a class="btn btn-primary btn-lg pull-right" href="@controllers.bo.routes.Backoffice.create">Ajouter un film</a></h1>
	
		@if(flash.containsKey("success")) {
	    <div class="alert alert-success alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        <strong>Ok!</strong> @flash.get("success")
	    </div>
	    }
  
	    <hr>
	
	    @if(films == null || films.isEmpty()) {
	
	        <div>
	            <em>Il n'y a pas de films dans le stock</em>
	        </div>
	
	    } else {
	
	        <table class="table table-striped">
	            <thead>
	                <tr>
						<th>Titre</th>
						<th>Genre</th>
						<th>Nombre d'exemplaire</th>
						<th>Acteur principal</th>
						<th>Acteurs secondaires</th>
	                </tr>
	            </thead>
	            <tbody>
	
	                @for(film <- films) {
	                    <tr>
	                        <td><a href="/bo/films/@film.id">@film.titre</a></td>
							<td>@film.genre</td>
							<td>@film.nombreExemplaire</td>
							<td>@film.acteurPrincipal.prenom @film.acteurPrincipal.nom</td>
							<td>
			                @for(acteur <- film.acteurSecondaires.iterator) {
			                	<span>[@acteur.prenom @acteur.nom]</span>
		                	}
							</td>
	                    </tr>
	                }
	
	            </tbody>
	        </table>
	
	    }

	</div>
}